/* ! Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box 
}

/* Carattere Testo */
body {
    font-family: '', sans-serif;
    color: #ffffff;
}

/* ? Utility */

/* Flex */
.flex {
    display: flex;
}

/* Immagini */
img {
    max-width: 100%;
    display: block;
}

/* Link senza Linea */
a {
    text-decoration: none;
    display: inline-block;
}

/* Span */
span {
    display: block;
}

/* Liste senza Puntino */
li {
    list-style: none;
}

/* Elementi solo a Schermo grande */
.large-display {
    display: none;
}

/* Colori Sfondo */
.aside-navbar {
    background-color: #000000;
}

.recipe-upgrade {
    background-color: #080B12;
}

.recipe-song {
    background-color: #141922;
}

.recipe-navfooter {
    background-color: #282828;
}

/* Testo della Aside alliniato */
.text-aligned {
    align-items: center;
    gap: 5px;
}

/* Colore Testi Aside */
.color-6D6D6D {
    color: #6D6D6D;
}

/* Barra active */
.active::after {
    content: '';
    display: block;
    width: 20%;
    height: 2px;
    background-color: #adff2f;
    margin: 0 auto;
}

/* Titolo Played */
.title-played {
    font-size: 30px;
    margin: 0rem 1rem;
}

/* Titoli canzoni */
.text-song {
    margin: 10px 0px;   
}

/* Testo brani più ascoltati */
.mg-popular {
    margin-bottom: 10px;
    margin: 0rem 1rem;  
}


/* Todo: INIZIO */

/* Recipiente Contenuti */
.recipe-content {
    height: calc(100vh - 90px);
}

/* Aside */
.aside-navbar {
    flex-basis: 50px;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    overflow: hidden;
}

/* Recipiente Aside */
.recipe-aside {
    flex-direction: column;
    gap: 10px;
}

/* Immagini dentro */
.recipe-aside img {
    width: 25px;
}

/* Recipiente logo large */
.recipe-logo {
    justify-content: flex-start;
}

/* Immagine logo Display Large */
.recipe-logo img {
    width: 160px;
}

/* Recipiente Crazione della Playlist */
.recipe-create-playlists {
    flex-direction: column;
    margin-top: 20px;
}

/* Titolo Playlist */
.title-playList {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 10px;
}

/* Recipiente Aggiungi canzone */
.recipe-add-song {
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

/* Icona dentro */
.recipe-add-song i {
    color: #7C7F83;
    cursor: pointer;
}

/* Crea PlayList */
.playlist {
    color: #ffffff;
    
}

/* Testo dentro */
.text-playList a {
    color: #6D6D6D;
    margin: 5px 0px;
    font-size: 14px;
}

/* Recipiente Login */
.recipe-login {
    flex-direction: column;
    gap: 10px;
}

/* Immagine Download */
.image-download {
    width: 25px;
}

.recipe-install,
.recipe-username {
    gap: 10px;
    align-items: center;
}

/* Immagine Login */
.image-login {
    border-radius: 50%;
    border: 1px solid #ffffff;
    width: 35px;
    background-color: #828282;
    padding: 4px;
    cursor: pointer;
}

/* Recipiente Brani */
.recipe-song {
    flex-grow: 1;
    overflow: auto;
}

/* Recipiente Upgrade */
.recipe-upgrade {
    height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    justify-content: end;
    align-items: center;
    z-index: 1;
}

/* Bottone Upgrade */
.text-upgrade {
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px 30px;
    border-radius: 30px;
    text-transform: uppercase;
    margin-right: 15px;
    font-size: 14px;
    font-weight: 600;
    transition: font-size 0.3s ease;
}

/* Recipiente Brani */
.recipe-tracks {
    margin: 20px 0px;
}

/* Recipiente NavBar */
.recipe-navbar {
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

/* Lista Navbar */
.text-navbar {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
    width: 90%;
}

/* Elementi dentro la lista Navbar */
.text-navbar li {
    flex-basis: calc(100% / 4);
    text-align: center;
}

/* Link dentro la Navbar */
.text-navbar a {
    color: #7C7F83;
    text-transform: uppercase;
    font-size: 14px;
}

/* Recipiente di tutte le col */
.recipe-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 2rem;
    margin: 2rem 0.5rem;
}

/* Grandezza Col */
.col {
	flex-basis: 100%;
    padding: 0 0.5rem;
}

/* Contenitore Immagini dentro col */
.image-container {
    position: relative;
    cursor: pointer;
}

/* Icona Play */
.player {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: 50px;
    display: none;  
}

/* Testi */
.text-song , 
.text-artists {
    text-align: center;
}

/* Testo artisti */
.text-artists {
    color: #63656B;
}

/* Immagini Arrotondate */
.image-radius {
    border-radius: 50%;
}

/* Recipiente Footer */
.recipe-navfooter {
    height: 90px;
    justify-content: center;
    align-items: center;
    position: sticky;
}

/* Contenitore NavFooter */
.container-navfooter {
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    padding: 10px;
}

/* Dimensione del Contenitore dei Contenuti */
.h-33 {
    width: calc(100% / 3);
    text-align: center;
}

/* Recipiente Musica */
.recipe-music {
    align-items: center;
}

/* Brano Scelto */
.chosen-song {
    margin-right: 10px;
    width: 40px;
}

/* Testo del Brano scelto */
.text-chones-song {
    text-align: start;
}

/* Titolo Brano */
.title-music {
    font-weight: 900;
}

/* Brano e Nome */
.title-song,
.title-name {
    font-size: 12px;
}

/* Contenitore dei Mi Piace */
.like-it {
    flex-direction: column;
    gap: 5px;
    margin-left: 30px;
}

/* Recipiente Play */
.recipe-play {
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

/* Recipiente delle impostazione di Play */
.recipe-inPlay {
    gap: 15px;
    align-items: center;
    font-size: 20px;
    justify-content: center;  
}

/* Manina agli elementi del inPlay */
.recipe-inPlay i {
    cursor: pointer;
}


/* Boottene Play */
.bottom-play {
    font-size: 35px;
}

/* Recipiente Durata del brano */
.recipe-duration {
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 10px;
    margin-top: 10px;
}

/* Contenitore della Durata */
.line-duration {
    position: relative;
    width: 100%;
    cursor: pointer;
}
  
/* Linea Grande */
.line-large {
    width: 100%; 
    border: 1px solid #000000; 
}

/* Linea Piccola */
.line-small {
    position: absolute;
    top: 0;
    left: 0; 
    width: 10%;
    height: 1px; 
    background-color: #ff0000; 
}

/* Recipiente del volume */
.recipe-volume {
    gap: 5px;
    align-items: center;
    margin-left: 5px;
    justify-content: flex-end;
}

/* Contenitore del Volume */
.line-volume {
    position: relative;
    cursor: pointer;
}

/* Linea Grande */
.volume-large {
    width: 100px; 
    border: 1px solid #000000; 
}

/*Linea Piccola */
  .volume-small {
    position: absolute;
    width: 80%;
    top: 0;
    left: 0; 
    height: 1px; 
    background-color: #ff0000; 
}


/* TODO: Hover */

/* Testo Upgrade */
.text-upgrade:hover {
    font-size: 16px;
    opacity: 0.6;
}

/* I Link della Navbar */
.text-navbar a:hover{
    font-size: 16px;
}

/* Play della Canzone */
.image-container:hover .player {
    display: inline;
}

/* Opacità della figure */
.recipe-image figure:hover {
    opacity: 0.6;
} 

.active-heart:active {
    color: #ff0000;
}


/* TODO: Media Query */

/* MEDIA QUERY 576PX*/
@media screen and (min-width: 576px) {
    /* 2 Brani */
	.col {
		flex-basis: 50%;
	} 
}

/* MEDIA QUERY 768PX*/
@media screen and (min-width: 768px) {
    /* 3 Brani */
	.col {
		flex-basis: calc(100% / 3);
	}

    /* Elementi nel Dispaly Grande compaiono */
    .large-display {
        display: flex;
    }

    /* Grandezza Aside */
    .aside-navbar {
        flex-basis: 250px;
        align-items: normal;
    }

    /* Logo Piccolo scompare */
    .recipe-logo-small {
        display: none;
    }

    /* Logo Grande */
    .recipe-logo {
        margin-bottom: 20px;
    }

    /* Elementi dentro la lista Navbar */
    .text-navbar li {
    flex-basis: calc(100% / 3);
    }

    /* Recipiente Info Canzone */
    .recipe-info-son {
        display: flex;
        gap: 3px;
    }

    /* Mi piace */
    .like-it {
        flex-direction: row;
        gap: 10px;
    }

    /* Recipiente Play della Canzone */
    .recipe-inPlay {
        gap: 20px;
    }
}

/* MEDIA QUERY 992PX*/
@media screen and (min-width: 992px) {
    /* 4 barni */
	.col {
		flex-basis: 25%;
	}

    /* Elementi dentro la lista Navbar */
    .text-navbar li {
        flex-basis: calc(100% / 5);
    }

    /* Immagine Brano Scelto */
    .chosen-song {
    width: 60px;
    }

    /* Recipiente vai al Play*/
    .recipe-inPlay {
    gap: 30px;
    }
}

/* MEDIA QUERY 1180PX*/
@media screen and (min-width: 1180px) {
    /* 6 Brani */
	.col {
		flex-basis: calc(100% / 6);
	}

    /* Elementi dentro la lista Navbar */
    .text-navbar li {
        flex-basis: calc(100% / 6);
    }
}